<% articles.each do |article| %>
  <div class="blog-post">
    <h2 class="blog-post-title">
      <%= article.title %>
    </h2>
    <% if article.categories.any? %>
      <div>
        <%= render article.categories %>
      </div>
    <% end %>
    <p class="blog-post-meta">
      <%= article.created_at.strftime("%B %e, %Y") %>
      by <%= link_to article.user.username, user_path(article.user) %>
    </p>

    <p>
    <% if logged_in? && 
        (article.user == current_user || current_user.admin?) %>
        <%= link_to 'Edit', edit_article_path(article) %>
        <%= link_to 'Delete', 
                      article_path(article),
                      method: :delete, 
                      data: { confirm: 'Are you sure?' } %>
      <% end %>
    </p>

    <%= truncate_html(markdown(article.text), length: 280) %>
    <%= link_to 'Read More', article_path(article) %>
  </div>
<% end %> 
